sudo: required

language: generic

services:
  - docker
  
before_install:
  - pip install --user cpp-coveralls &&
    docker pull nedrebo/modern-cpp

script:
  - docker run -i -v $PWD:/code nedrebo/modern-cpp bash -e "/code/ci/linux/build.sh" &&
    docker run -i -v $PWD:/code nedrebo/modern-cpp bash -e "/code/ci/linux/test.sh"

after_success:
  - coveralls --exclude ci --exclude tests --gcov-options '\-lp'
